node_modules/
\.idea/

client/.idea/
client/.env
client/.env.development
client/node_modules/

server/.idea/
server/.env
server/dist/
server/node_modules/

server/logs/
server/*.log
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/lerna-debug.log*

server/.DS_Store

server/coverage/
server/.nyc_output

server/.project
server/.classpath
server/.c9/
server/*.launch
server/.settings/
server/*.sublime-workspace

server/.vscode/*
server/.vscode/settings.json
server/.vscode/tasks.json
server/.vscode/launch.json
server/.vscode/extensions.json