@use 'reset';

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color-text;
  background-color: $color-bg;

  --font-family: #{$font-family};
}

#root {
  min-height: 100dvh;
}

/* Toast */

.toast-error {
  background-color: $color-error !important;
  color: $color-white !important;
  border-color: $color-error !important;
}

.toast-success {
  background-color: $color-success !important;
  color: $color-white !important;
  border-color: $color-success !important;
}

/* Focus visible */
:focus-visible {
  outline: 2px solid $color-primary;
  outline-offset: 2px;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
}
